<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node with Express</title>
  <style media="screen">
    #logo{
      width:75px;
      height: 66.8px;
    }
  </style>
</head>
<body>
  <header>
    <img src="/img/heart.jpg" alt="logo" id="logo">
  </header>
  {{{body}}}
</body>
</html>
